@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root
{
    --bg-color1: #ffbc2c;
    --bg-color2: #d70000;
    --bg-color3: #4ec1ff;
    --font-color: #d3d3d3;
    --font-color2: #f5f5f5;
    --color1: #2d2d2d;
    --color2: #000000;
    --color3: #be0101;
}

body
{
    /* Kolor całego tła */
    font-family: "Lato";
    color: var(--font-color);
    /* Wymiary */
    margin: 0;
    


    /* background-image: url("img/szkola.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ),url(img/szkola.jpg);
    background-size: cover;

    /* background-color: #000000; */
    background-attachment: fixed;

    /* Aby scrollbar działał */
    overflow: overlay;
}

a
{
    text-decoration: none;
    color: var(--font-color);
}

main
{
    /* Wymiary */
    width: auto;
    max-width: 57%;
    min-width: 850px;
    border: 1px solid var(--color1);
    /* Położenie */
    margin: auto;
}

nav
{
    /* Wymiary */
    /* border: 2px solid var(--color2); */
    /* Żeby się przyklejała */
    position: sticky;
    top: 0;
    /* Kolory */
    font-weight: bold;
    /* background-color: var(--bg-color2); */
    background-color: rgba(46, 46, 46, 0.6);
    text-shadow: 1px 1px var(--color1);

    /* Wymiary */
    padding: 10px;
    /* Położenie */
    text-align: center;
    /* Font */
    font-size: 130%;
}

nav a
{
    margin-right: 50px;
    margin-left: 50px;
}

content
{
    /* Wymiary */
    display: block;
    background-color: rgba(255, 253, 253, 0.9);
    padding: 30px;
    /* Font */
    font-size: 30px;
    color: var(--color1);
    text-align: center;
}






/* Scrollbar */
html::-webkit-scrollbar
{
    width: 1vh;
    height: 1vh;
}
html::-webkit-scrollbar-thumb
{
    background-color: var(--color3);
    /* border-radius: 10px; */
}
html::-webkit-scrollbar-thumb:hover
{
    background-color: var(--color3);
}
html::-webkit-scrollbar-track
{
    background-color: transparent;
}
html::-webkit-scrollbar-corner
{
    background-color: transparent;
}