@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root
{
    --bg-color1: #ffbc2c;
    --bg-color2: #d70000;
    --bg-color3: #4ec1ff;
    --font-color: #d3d3d3;
    --font-color2: #f5f5f5;
    --color1: #3d3d3d;
    --color2: #000000;
    --color3: #be0101;
}

body
{
    /* Kolor całego tła */
    font-family: "Lato";
    color: var(--font-color);
    /* Wymiary */
    margin: 0;
}

main
{
    /* Wymiary */
    width: auto;
    max-width: 57%;
    min-width: 850px;
    border: 1px solid var(--color1);
    /* Położenie */
    margin: auto;
}

nav
{
    /* Wymiary */
    border: 2px solid var(--color2);
    /* Żeby się przyklejała */
    position: sticky;
    top: 0;
    /* Kolory */
    background-color: var(--bg-color2);
    text-shadow: 1px 1px var(--color1);
}

nav img
{
    /* Wymiary */
    width: 39px;
    height: 39px;
}

content
{
    /* Wymiary */
    display: block;
    background-color: rgba(255, 253, 253, 0.7);
    padding: 30px;
    /* Font */
    font-size: 30px;
    color: var(--color1);
    text-align: center;
}

#nav-table, td
{
    /* Wymiary */
    height: 39px;
    /* Położenie */
    text-align: center;
    /* Font */
    font-size: 130%;
}

#nav-table
{
    /* Wymiary */
    width: 98%;
    height: 100%;
    border-spacing: 0;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* Cursor */
    cursor: pointer;
}

#nav-logo, #nav-news, #nav-members, #nav-info
{
    /* Wymiary */
    height: 100%;
}