/* ! =-=-=-= ANIMACJE =-=-=-= ! */


/* ? Article animation */

/* img */
article:hover .img-article
{
  filter: brightness(40%);
}
/* text */
.text
{
  opacity: 0;
}
article:hover .text 
{
  opacity: 1;
  transform: translate(-50%, -500%);
}
/* title */
article:hover .title
{
  transform: translate(-50%, -900%);
  color: var(--color4);
}